<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<div id="app">
  <ul>
    <li v-for="item in languages">{{item}}</li>
  </ul>

  <ul>
    <!--the block before in is important-->
    <li v-for="(item, index) in languages">{{item}}</li>
  </ul>

  <ul>
    <!--object-->
    <li v-for="(value, key, index) in info">{{value}}-{{key}}-{{index}}</li>
  </ul>
</div>
<body>
  <script src="./js/vue.js"></script>
  <script>
    const app = new Vue({
      el:"#app",
      data:{
        languages:["Java", "Python", "Go"],
        info:{
          name:"JavaScript",
          score:85,
          length:30
        }
      }
    })
  </script>
</body>
</html>