<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<div id="app">
  <label for="male">
    <input type="radio" id="male" value="Male" name="sex" v-model="sex">Male
  </label>
  <label for="female">
    <input type="radio" id="female" value="Female" name="sex" v-model="sex">Female
  </label>
  <h2>selected:{{sex}}</h2>
</div>
<body>
  <script src="./js/vue.js"></script>
  <script>
    const app = new Vue({
      el:"#app",
      data:{
        sex:"Female"
      }
    })
  </script>
</body>
</html>