<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <select name="language" id="" v-model="language">
      <option value="Java">Java</option>
      <option value="Python">Python</option>
      <option value="Go">Go</option>
    </select>
    <h2>selected:{{language}}</h2>

    <!--mutiple choices-->
    <select name="languages" id="" v-model="languages" multiple>
      <option value="Java">Java</option>
      <option value="Python">Python</option>
      <option value="Go">Go</option>
    </select>
    <h2>selected:{{languages}}</h2>
  </div>
  <script src="./js/vue.js"></script>
  <script>
    const app = new Vue({
      el:"#app",
      data:{
        language:"Java",
        languages:[]
      }
    })
  </script>
</body>
</html>